
.lt-nav{
  padding:10px;
}
.lt-nav ul li {
  float:left;
  width: 33.33%;
}
.lt-nav ul li a{
  display:block;
}

/**/
.lt-product{
  padding:10px;
  text-align:center;
}
.lt-product ul li{
  float:left;
  width: 48%;
  border: 1px solid #ccc;
  margin-bottom:10px;
  border-radius: 5px;
}
.lt-product ul li:nth-child(odd){
  margin-right:4px;
}
.lt-product ul li a{
  display: block;
  padding:10px;
}
.lt-product ul li a .price{
  color:red;
}
.lt-product ul li a .oldprice{
  text-decoration:line-through;
}